.btn1 {
  background-color: #373c59;
  border: none; 
  height: 40px; 
  width: 100px;  
  border-width: 1px;
  border-color: #373c59;
  color: white; 
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px;
}

.btn1:hover {
  opacity: 0.75;
  cursor: pointer;
}

.btn2 {
  background-color: white;
  border-width: 1px;
  border-color: #373c59;
  height: 40px; 
  width: 100px;  
  color: #373c59; 
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;
}

.btn2:hover {
  opacity: 0.75;
  cursor: pointer;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
  height: 100px;
  gap: 1rem;
}

.formInput {
  background-color: #f3f6fb;
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 180px;
}

.formLabel {
  font-size: 14px;
  color: lightgray;
  display: block;
  margin-bottom: 10px;
}